@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

.logo {
    height: 50px;
}

.logo-container {
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    margin: 10px 0px;
}

.photographer_section article .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.photographer_section article span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    margin-top:  5px;
}

article #location {
    color: #901C1C;
}

article #tagline {
    color: #111;
}

.photographer_section article #price {
    color: #757575;
}

.photographer_section article img, .photograph-profil-picture {
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.photograph_section {
    margin: 0px 100px;
}

.work_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px;
}

.work-card-wrapper {
    margin-bottom: 30px;
}

.work-card-wrapper article img,
.work-card-wrapper article video {
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    height: 300px;
    width: 350px;
    box-shadow: none;
    cursor: pointer;
}

.work-card-wrapper article .img-title {
    font-size: 20px;
    font-weight: 400;
    color: #911C1C;
    margin: 0;
}

.work-card-wrapper article .info-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.work-card-wrapper article .info-img .img-like span {
    margin: 0;
    font-size: 18px;
    display: flex;
    color: #911C1C;
}

.work-card-wrapper article .info-img #like-value{
    margin-right: 10px;
}

.work-card-wrapper .fa-solid.fa-heart {
    color: #911C1C;
}

@media only screen and (max-width: 600px) {
    .photographer_section {
        grid-template-columns:auto;
    }
    .home {
        flex-direction: column;
        height: auto;
    }
    .home h1 {
        margin-left: 80px;
    }
    .photographer_section {
        margin-top: 40px;
    }
    .logo {
        margin-left: 0 !important;
    }
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.sr-only {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

