*{
    margin: 0;
    padding: 0;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-work {
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    margin: 30px 0px;
    align-items: center;
    padding: 50px 70px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .photograph-work {
        flex-direction: column;
        padding: 20px 50px;
    }
    .photograph_section {
        margin: 0px !important;
    }
    .contact-button {
        margin-top: 20px;
    }
    .photograph-banner-wrapper img {
        margin-top: 20px;
    }
    .carousel-card-wrapper {
        width: 180px;
    }
    .logo {
        margin-left: 50px !important;
    }
    .modal-contact {
        transform: translate(0) !important;
        width: auto !important;
    }
}

.contact-button {
    background: #911C1C;
    border-radius: 5px;
    border: none;
    padding: 27px 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.1px;
}

.contact-button:hover {
    background: #D3573D;
    color: black;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.modal-contact form{
    display: flex;
    flex-direction: column;
}

.modal-contact{
    position: absolute;
    top: 10vh;
    transform: translateX(50%);
    width: 40vw;
    height: auto;
    background-color: #DB8876;
    padding: 20px 35px 20px 35px;
    border-radius: 5px;
    display: none;
    z-index: 999;
}

.modal-contact h3{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 40px;
}

.modal-contact.open {
    display: block;
}

.modal-contact form label{
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #312E2E;
}

.modal-contact form input{
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 47px
}

.modal-contact input[type=text],
.modal-contact input[type=email]{
    padding: 0px 20px;
}

.modal-contact input[name="message"] {
    height: auto;
}

.close-contact {
    color: white;
    font-size: 150%;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#send-button {
    background-color: #901C1C;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.photographer-name {
    color: #DB8876;
    font-size: 50px;
    font-weight: 500;
}

.info span{
    margin-top: 10px;
    font-size: 22px;
}

#prenom-error, #nom-error, #email-error, #message-error {
    color: #901C1C;
    margin-top: 5px;
    display: none;
}

.d-show {
    display: block !important;
}

.carousel-modal {
    display: none;
}

.bottom-section {
    position: fixed;
    bottom: 0;
    background-color: #D3573C;
    padding: 20px 30px;
    right: 30px;
    border-radius: 5px 5px 0px 0px;
    font-size: 22px;
    z-index: 1;
}

.bottom-section .total-like {
    margin-right: 5px;
}

.bottom-section .fa-solid.fa-heart {
    margin-right: 20px;
}